APP_NAME=ServiceName
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=service_db
DB_USERNAME=root
DB_PASSWORD=secret

EVENTBUS_DB_HOST=mysql-eventbus
EVENTBUS_DB_PORT=3306
EVENTBUS_DB_DATABASE=eventbus_db
EVENTBUS_DB_USERNAME=root
EVENTBUS_DB_PASSWORD=secret

QUEUE_CONNECTION=database
CACHE_DRIVER=array
SESSION_DRIVER=database
